* {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background:  #232B2B;
    box-sizing: border-box;
}

.logoutText {
    color: #fff;
    text-align: center;
    margin-right: 50px;
}

table {
    border-collapse: collapse;
    margin-bottom: 30px;
    width: 100%;
}

table a {
    background: rgb(231, 225, 225) ;
}

table td,
table th {
    border: 1px solid #ddd;
    padding: 8px;
    background-color: rgb(231, 225, 225);
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #c6bcb6;
    color: black;
}

.dir {
    width: 5%;
    background: rgb(231, 225, 225);
}

.file {
    width: 4%;
    background: rgb(231, 225, 225);
}

.warning {
    color:yellow;
    font-weight: 600;
    margin-left: 5%;
}

.warningUpl {
    color:yellow;
    font-weight: 600;
    margin-left: 55%;
}

.warningDlt {
    color:yellow;
    font-weight: 600;
    text-align: center;
    margin-top: 100px;
}

.createField{
    padding: 10px 5px 10px 10px;
    border: 2px   #e80707 solid;
    width: 40%;
    text-align: center;
    background: #b2b2b2;
    margin-left: 5%;
    margin-bottom: 50px;
    float: left;
}


.createInput {
   background-color: #f7dbdbbc;
   color: black;
   line-height: 2;
   width: 70%;
}

.createButton {
    border: 0;
    line-height: 2;
    padding: 0 20px;
    font-size: 15px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.createButton:hover {
    background-color: rgba(255, 0, 0, 1);
}

.createButton:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.uploadField{
    padding: 10px 5px 10px 10px;
    border: 2px   #e80707 solid;
    width: 40%;
    text-align: center;
    background: #b2b2b2;
    margin-right: 5%;
    margin-bottom: 50px;
    float: right;
}

.uploadInput {
    background-color: #f7dbdbbc;
    color: black;
    line-height: 2.5;
    width: 70%;
}

.downloadBtn {
    background: rgb(231, 225, 225);
    color:  #034f84;
}
.deleteBtn {
    color:#e80707;
    border-bottom:2px solid #e80707;
    background-color: rgb(231, 225, 225);
    font-weight: 700;
    font-size: 15px;
}